@import "../../global.css";

.about_container {
  padding-top: 100px;
  width: 100%;

  .header_cover_container {
    width: 90%;
    margin: auto;
    .about_header {
      font-weight: 800;
      font-size: 18px;
      color: var(--dark-color);
	  margin: 0;
    }
    .cover_image {
      width: 100%;
    }
  }
  .about_info_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .about_info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .quote {
        margin-bottom: -10px;
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
      }
      .text {
        color: var(--dark-color);
        font-size: 13px;
      }
      .bottom_optional_img {
        display: none;
        /* width: 100%; */
      }
    }
    .about_card {
      color: #fff;
      background-color: var(--orange-color);
      padding: 15px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .star_header_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 7px;
        .card_head {
          font-size: 16px;
          font-weight: 600;
        }
        .star_image {
          width: 35px;
          height: 35px;
        }
      }
      .about_us_text {
        font-size: 13px;
      }
    }
    .bottom_optional_img {
      width: 100%;
    }
  }
}
