@import "../../global.css";

.gallery_container {
  padding-top: 100px;
  .gallery_wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    .gallery_header {
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    .header_paragraph {
      font-size: 15px;
      font-weight: 300;
    }
  }
  .photos_section {
    width: 100%;
    background-color: #f2f2f2;
    .photos_container {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      img {
        width: 100%;
        height: auto;
        grid-column: span 1;

        &:nth-child(6n + 1),
        &:nth-child(6n + 6) {
          grid-column: span 2;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .gallery_container {
    padding-top: 120px;
    .gallery_wrapper {
      /* margin-bottom: 50px; */
      .gallery_header {
        font-size: 32px;
      }
      .header_paragraph {
        font-size: 16px;
        /* font-weight: 300; */
      }
    }
  }
}

@media (min-width: 1024px) {
  .gallery_container {
    .gallery_wrapper {
      /* margin-bottom: 50px; */
      .gallery_header {
        width: 65%;
      }
      .header_paragraph {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .gallery_container {
    .gallery_wrapper {
      /* margin-bottom: 50px; */
      .gallery_header {
        width: 50%;
        font-size: 34px;
      }
      .header_paragraph {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1400px) {
  .gallery_container {
    .gallery_wrapper {
      /* margin-bottom: 50px; */
      max-width: 1800px;
      .gallery_header {
        width: 60%;
        font-size: 45px;
        font-weight: 900;
      }
      .header_paragraph {
        width: 70%;
        font-weight: 400;
      }
    }
  }
}
