@import "../../global.css";

.blog_container {
  margin-bottom: 100px;
  .header_cover_container {
    width: 100%;
    height: 200px;
    background-image: url("../../assets/images/cover_images/blog_cover_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .header_container {
      width: 90%;
      margin: auto;
      height: 100%;
      max-width: 1800px;
      display: flex;
      align-items: center;
      .header {
        color: #fff;
        font-size: 25px;
        font-weight: 900;
      }
    }
  }
  .blog_sidebar_container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    gap: 30px;
    .blogs_pagination_container {
      margin-bottom: 50px;
      .blog_card_container {
        display: grid;
        gap: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .blog_container {
    .header_cover_container {
      height: 300px;
      background-image: url("../../assets/images/cover_images/blog_cover_tablet.png");
      .header_container {
        .header {
          font-size: 32px;
        }
      }
    }
    .blog_sidebar_container {
      margin-top: 50px;
      .blogs_pagination_container {
        margin-bottom: 50px;
        .blog_card_container {
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .blog_container {
    padding-top: 80px;
    .header_cover_container {
      height: 400px;
      background-image: url("../../assets/images/cover_images/blog_cover_desktop.png");
    }
    .blog_sidebar_container {
      grid-template-columns: 2fr 1fr;
    }
  }
}

@media (min-width: 1200px) {
  .blog_container {
    .header_cover_container {
      .header_container {
        .header {
          font-size: 45px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .blog_container {
    .header_cover_container {
      .header_container {
        .header {
          font-size: 45px;
        }
      }
    }
    .blog_sidebar_container {
      grid-template-columns: 3fr 1fr;
      gap: 40px;
      .blogs_pagination_container {
        .blog_card_container {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
        }
      }
    }
  }
}
