@import "../../global.css";

.blog_container {
  .header_cover_container {
    width: 100%;
    height: 200px;
    background-image: url("../../assets/images/cover_images/blog_cover_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .header_container {
      width: 90%;
      margin: auto;
      height: 100%;
      max-width: 1800px;
      display: flex;
      align-items: center;
      .header {
        color: #fff;
        font-size: 25px;
        font-weight: 900;
      }
    }
  }
  .blog_sidebar_container{
	width: 90%;
	margin: auto;
	max-width: 1800px;
	margin-top: 50px;
	display: grid;
	gap: 30px;
	.blogs_pagination_container{
	.blog_card_container{
		display: grid;
		gap: 20px;
		
	}
}
  }
}
