@import "../../global.css";
.services_container {
  width: 100%;
  padding-top: 20px;
  .services_sub_container {
    width: 90%;
    margin: auto;
    .top_card_container {
      margin-bottom: 40px;
      display: grid;
      gap: 30px;
    }
    .our_services {
      .services_header_star {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .star_icon {
          width: 30px;
          height: 30px;
        }
      }
      .services_card_container {
        margin-bottom: 50px;
        display: grid;
        gap: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .services_container {
    padding-top: 50px;
    .services_sub_container {
      .top_card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
      .our_services {
        .services_header_star {
          .services_header {
            width: 60%;
          }
          .star_icon {
            width: 40px;
            height: 40px;
          }
        }
        .services_card_container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .services_container {
    padding-top: 100px;
    .services_sub_container {
      .top_card_container {
        grid-template-columns: repeat(4, 1fr);
      }
      .our_services {
        .services_card_container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .services_container {
    .services_sub_container {
      .our_services {
        .services_header_star {
          margin-top: 100px;
          .services_header {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .services_container {
    padding-top: 140px;
    .services_sub_container {
      max-width: 1800px;
    }
  }
}
