@import "../../global.css";

.testimonials_container {
  color: var(--dark-color);
  width: 90%;
  padding-top: 20px;
  margin: auto;
  .testimonial_card_container {
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .testimonials_container {
    padding-top: 50px;
    .testimonial_card_container {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1024px) {
  .testimonials_container {
    padding-top: 100px;
    .testimonial_card_container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1400px) {
  .testimonials_container {
    padding-top: 140px;
    max-width: 1800px;
  }
}
