@import "../../global.css";

.card_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .icon_container {
    .icon {
      width: 40px;
      height: 40px;
    }
  }
  .header {
    font-size: 18px;
  }
  .paragraph {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--dark-color);
  }
  button {
    background-color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
    max-width: 120px;
    color: #fff;
    img {
      width: 35px;
      height: 35px;
    }
  }
}


@media(min-width:1400px)
{
  .card_container{
    .paragraph{
      font-size: 15px;
    }
  }

}