@import "../../global.css";

.home_container {
  .cover {
    background-image: url("../../assets/images/cover_images/home_cover_mobile.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .cover_elements_wrapper {
      width: 90%;
      margin: 2rem auto;
      margin-top: 33vh;
      display: flex;
      gap: 25px;
      box-sizing: border-box;
      flex-direction: column;
      .header {
        font-size: 25px;
        font-weight: 800;
        color: #fff;
        .header_span {
          color: var(--orange-color);
        }
      }
      .header_text {
        color: var(--dark-gray);
        font-size: 15px;
      }
      .header_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--green-color);
        color: #fff;
        max-width: 200px;
        padding: 10px 4px;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  .body_wrapper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    .what_we_do_section {
      margin-bottom: 40px;
      padding: 50px 5%;
    }
    .card_container {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .about_us {
      padding: 50px 5%;
      display: flex;
      flex-direction: column;
      gap: 60px;
      .left {
        .paragraph {
          color: var(--dark-color);
          font-size: var(--font-size-medium);
          line-height: 1.5;
          margin-bottom: 10px;
          font-weight: 300;
        }
        .card_container {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
      .right {
        .image_container {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .testimonials {
      margin-bottom: 40px;
      background-color: #fff;
      padding-top: 30px;
      padding: 50px 5%;
      .testimonials_card_container {
        display: grid;
        grid-template-columns: repeat(1fr, 1);

        gap: 20px;
      }
    }
    .blog {
      margin-bottom: 40px;
      padding: 50px 5%;
      .blogs_card_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media (min-width: 375px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 37vh;
      }
    }
  }
}

@media (min-width: 425px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 43vh;
      }
    }
  }
}

@media (min-width: 500px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 50vh;
      }
    }
  }
}

@media (min-width: 600px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 55vh;
      }
    }
  }
}

@media (min-width: 700px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 65vh;
      }
    }
  }
}

@media (min-width: 768px) {
  .home_container {
    .cover {
      background-image: url("../../assets/images/cover_images/home_cover_tablet2.png");
      .cover_elements_wrapper {
        padding-bottom: 2rem;
        margin-top: 25vh;
        gap: 20px;
        .header {
          font-size: 38px;
          width: 80%;
        }
        .header_text {
          width: 80%;
          font-size: 20px;
          font-weight: 500;
        }
        .header_button {
          max-width: 250px;
          padding: 15px 4px;
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }
    .body_wrapper {
      .card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .about_us {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;
        .left {
          .paragraph {
            font-size: 14px;
          }
          .card_container {
            flex-direction: row;
            gap: 10px;
          }
        }
        .right {
          display: none;
        }
      }

      .testimonials {
        margin-bottom: 0px;
        padding-top: 50px;
        .testimonials_card_container {
          gap: 15px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .blog {
        .blogs_card_container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
        }
      }
    }
  }
}

@media (min-width: 920px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 25vh;
        .header {
          width: 70%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .home_container {
    .cover {
      background-image: url("../../assets/images/cover_images/home_cover_desktop.png");
      .cover_elements_wrapper {
        margin-top: 25vh;
        gap: 25px;
        .header {
          width: 65%;
        }
        .header_text {
          width: 50%;
          font-size: 15px;
        }
        .header_button {
          font-size: 16px;
        }
      }
    }
    .body_wrapper {
      padding-top: 0;
      .card_container {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0;
      }
      .about_us {
        gap: 10px;
        padding-top: 0;
        .left {
          .paragraph {
            font-size: 14px;
            line-height: 1.5;
          }
          .card_container {
            margin-top: 30px;
          }
        }
        .right {
          display: block;
        }
      }
      .testimonials {
        .header_2 {
          font-size: 30px;
          margin-bottom: 25px;
        }
        .testimonials_card_container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .blog {
        .blogs_card_container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        margin-top: 30vh;

        .header {
          font-size: 40px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        max-width: 1800px;
        .header {
          font-size: 45px;
        }
        .header_text {
          font-size: 17px;
        }
        .header_button {
          font-size: 18px;
        }
      }
    }
    .body_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .what_we_do_section {
        max-width: 1800px;
      }

      .about_us {
        max-width: 1800px;

        gap: 20px;
        padding-top: 0;
        .left {
          .paragraph {
            font-size: 16px;
            /* font-weight: 400; */
            margin-bottom: 35px;
            line-height: 1.8;
          }
        }
        .right {
          display: block;
        }
      }
      .testimonials {
        max-width: 1800px;
        .testimonials_card_container {
          gap: 30px;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .blog {
        max-width: 1800px;
        .blogs_card_container {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .home_container {
    .cover {
      .cover_elements_wrapper {
        .header {
          font-size: 50px;
        }
        .header_text {
          font-size: 18px;
        }
        .header_button {
          font-size: 18px;
        }
      }
    }
  }
}
