@import "../../global.css";

.sidebar_container {
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  section {
    padding: 15px;
    box-sizing: border-box;
    border: 0.5px solid #bbbbbb;
    border-radius: 5px;
    input {
      background: #fff;
      outline: none;
      color: var(--dark-color);
      border: 0.5px solid #bbbbbb;
      height: 40px;
      width: 90%;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: 300;
    }
    ul {
      li {
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .tags_container {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      max-width: 400px;
      button {
        font-size: 14px;
        font-weight: 400;
        width: 100px;
        text-align: center;
        padding: 7px 0;
        border: 0.5px solid #bbbbbb;
      }
    }
	.blogs_card_container{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
  }
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	min-height: 250px;
    .image_container {
		margin-bottom: 5px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #bbb;
      padding: 2px;
      img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
    }
	.author_name{
		font-weight: 600;
		font-size: 18px;
	}
	.author_position{
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 15px;

	}
	.socials_container{
		display: flex;
		gap: 10px;
		.social{
			font-size: 20px;
			margin-bottom: 20px;
			cursor: pointer;
			&:hover{
				color:var(--orange-color);
			}
		}
	}
  }
}
