@import "../../global.css";

.card_container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  .image_container {
    padding: 4px;
    box-sizing: border-box;
    border: 0.3px solid #bbbbbb;
    border-radius: 8px;
    width: 100px;
    height: 100%;
    display: flex;
    .image {
      width: 100%;
      height: 100px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .body_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card_header {
      font-size: 14px;
    }
    .card_text {
      display: none;
    }
    .by_comment_container {
      display: flex;
      flex-direction: column;
      .card {
        gap: 3px;
        display: flex;
        align-items: center;
        padding: 4px 6px;
        .text_admin,
        .text_comment {
          font-size: 12px;
          font-weight: 500;
        }
        &:hover {
          color: var(--orange-color);
        }
      }
    }
    .read_share_container {
      display: none;
    }
  }
  &:hover {
    .body_container {
      .card_header {
        color: var(--orange-color);
      }
    }
  }
}

@media (min-width: 768px) {
  .card_container {
    .image_container {
      width: 100px;
    }

    .body_container {
      .card_text {
        display: none;
      }
      .by_comment_container {
        flex-direction: row;
        gap: 5px;
        .card {
          .text_admin,
          .text_comment {
            font-size: 14px;
          }
        }
      }
      .read_share_container {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .card_container {

    .body_container {
      .card_text {
        display: none;
      }
      .by_comment_container {
        flex-direction: column;
        gap: 0px;
      }
      .read_share_container {
        display: none;
      }
    }
  }
}
